$teal: #4d96a9;
$light-teal: #71c0d4;
$medium-purple: #b18bdd;
$dark-purple: #855fb1;
$dark-blue: #28283d;
$gray: #87879d;
$light-blue: #8fe3f9;
$light-purple: #d9b8ff;
$white: #fafafa;
// $bg-gradient-1: linear-gradient(180deg, $frostbite 0.04%, $outrageous-orange 100%);
// $bg-gradient-2: linear-gradient(180deg, $ultramarine-blue 0%, $frostbite 99.92%);
