$teal: #4D96A9;
$dark-purple: #855FB1;
$dark-blue: #28283D; 
$gray: #87879D;
$light-blue: #8FE3F9;
$light-purple: #D9B8FF;
$white: #FAFAFA;
// $bg-gradient-1: linear-gradient(180deg, $frostbite 0.04%, $outrageous-orange 100%);
// $bg-gradient-2: linear-gradient(180deg, $ultramarine-blue 0%, $frostbite 99.92%);