@use './breakpoints'as *;
@use './colors'as *;
@use './buttons'as *;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

// footer, header, nav, section, main{
//   display: block;
// }

body {
  background: mistyrose;
  color: $gray;
  line-height: 1;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  // justify-content: center;

  nav {
    #logo {
      display: flex;
      padding: 4rem 0 3.375rem;
      justify-content: center;
    } 

    .images-container {
      display: flex;
      // justify-content: space-between;
      overflow: hidden;
      width: 100%;


      
      div:nth-child(1) {
        object-fit: cover;
        margin: 0 0 0 -1.313rem;

        img {
          width: 12.438rem;
        }
      }

      div:nth-child(2) {
        object-fit: cover;
        margin: 0 -2.313rem 0 0;

        img {
          width: 12.438rem;
          margin: 0 0 0 1rem;
        }
      }
    }
  }
}